body,html{
	height: 100%;
	width: 100%;
}
.main-container{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-container > .login,
.main-container > .hero-body{
	height: auto;
	width: 100%;
	max-width: 400px;
	min-width: 300px;
}

.form-inline{
	display: inline-flex;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-image: url('"C:\xampp\htdocs\INVENTARIO\img\IMG_3180.jpeg"'); /* Ruta de tu imagen */
	background-size: cover; /* Escala la imagen para cubrir toda la pantalla */
	background-position: center; /* Centra la imagen */
	background-repeat: no-repeat; /* No repite la imagen */
}
.container {
	background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
	padding: 20px;
	border-radius: 10px;
	margin: 50px auto;
	max-width: 800px;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.title {
	font-size: 2rem;
	color: #333;
}
.subtitle {
	font-size: 1.5rem;
	color: #666;
}


